body{
	background: white;
	color: black;
}

header {
	margin-top: 75px;
}

#Testimonio {
	background: #f1f1f1;
	padding: 50px 0 30px 0;
	text-align: center;
	margin-top: 40px;
}


.footer {
    background: #2f3640;
    font-size: 12px;
    color: grey;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}